@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-shadow {
    box-shadow: 0px 4px 16px 0px rgba(211, 13, 12, 0.40);
}

.line-gradient {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #D60D0C 0%, rgba(211, 13, 12, 0) 100%);
}

.border-gradient {
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #D60D0C 50%, rgba(211, 13, 12, 0) 100%)
}

.border-gradient-50 {
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #D30D0C 0%, rgba(211, 13, 12, 0) 52.08%);
}

.border-gradient-70 {
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #D30D0C 0%, rgba(211, 13, 12, 0) 76.27%);
}

.border-gradient-100 {
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #D30D0C 0%, rgba(211, 13, 12, 0) 101%);
}


